body {
	display: flex;
	height: 100%;
}

.notesHeader, .notesSidebar li, .markdown textarea, .markdown-html {
	padding: 1rem 1.2rem;
}


/* Notes sidebar */

.notesSidebar {
	flex-shrink : 0;
	display: flex;
	flex-direction: column;
	width: 225px;
	border-right: 1px solid #eaeaea;
}

.notesHeader {
	position: relative;
	margin: 0;
	font-family: var(--font-header);
	padding: 1.5rem 1.2rem;
}

.notesTitle {
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

.notes-list {
	margin: 0;
	padding: 0;
	overflow: auto;
	border: 0;
	border-bottom: 1px solid #eaeaea;
}

.add-note {
	/* color: #2ecc71; */
	/* color === (--color-blue) */
	filter: invert(45%) sepia(88%) saturate(1757%) hue-rotate(186deg) brightness(94%) contrast(89%);
	opacity: 0.8;
	display: flex;
	align-items: center;
}

.add-note img {
	max-height: 15px;
	margin-right: 0.3rem;
}

.sidebar__item {
	padding: 0.8rem 1.2rem;
	cursor: pointer;
	word-wrap: break-word;
	list-style-type: none;
}

.sidebar__note {
	//border: 0px solid #eaeaea;
	//border-top-width: 1px;
	transition: background-color 0.3s;
}

.sidebar__note header {
	//font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar__note .button--delete {
	opacity: 0.3;
	transition: all 0.25s ease;
	max-height: 18px;
}

.sidebar__note .button--delete:hover {
	filter: invert(28%) sepia(79%) saturate(3651%) hue-rotate(339deg) brightness(96%) contrast(112%);
	opacity: 0.7;
}

.sidebar__note:hover, .sidebar__note.current {
	background-color: var(--color-grey);
}

.sidebar__note p {
	display: none;
	font-size: 0.85rem;
	margin: 0.4rem 0;
	font-weight: light;
}

/* Main */
main {
	flex-grow: 1;
}

/* File edit input */

.splits {
	flex-grow: 1;
	display: flex;
}

.splits, .markdown {
	height: 100%;
}

.gutter {
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('../img/split/vertical.png');
	cursor: ew-resize;
}

.gutter.gutter-vertical {
	background-image: url('../img/split/horizontal.png');
	cursor: ns-resize;
}

.markdown textarea {
	display: block;
	height: 100%;
	width: 100%;
	resize: none;
	border: 0;
	background-color: inherit;
	line-height: inherit;
}

.markdown textarea:focus {
	outline: none;
}

.markdown-html {
	overflow: auto;
}
