body {
	display: flex;
	height: 100%;
}

.notesHeader, .notesSidebar li, .markdown textarea, #renderedMarkdown {
	padding: 1rem 1.2rem;
}


/* Notes sidebar */

.notesSidebar {
	flex-shrink : 0;
	display: flex;
	flex-direction: column;
	width: 225px;
	border-right: 1px solid #eaeaea;
}

.notesHeader {
	position: relative;
	margin: 0;
	color: #2c3e50;
	font-family: 'Montserrat';
	font-weight: 600;
}

.notesTitle {
	display: inline-block;
	margin: 0;
}

#notes {
	margin: 0;
	padding: 0;
	overflow: auto;
}

.add-note {
	//color: #2ecc71;
	opacity: 0.8;
	border: 0;
	border-bottom: 1px solid #eaeaea;
}

.sidebar__item {
	padding: 0.8rem 1.2rem;
	cursor: pointer;
	word-wrap: break-word;
	list-style-type: none;
}

.sidebar__note {
	//border: 0px solid #eaeaea;
	//border-top-width: 1px;
	transition: background-color 0.3s;
}

.sidebar__note header {
	//font-weight: bold;
}

.sidebar__note:hover, .sidebar__note.current {
	background-color: #F5F6Fa;
}

.sidebar__note p {
	display: none;
	font-size: 0.85rem;
	margin: 0.4rem 0;
	font-weight: light;
}


/* Main */

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


/* File edit input */

.splits {
	flex-grow: 1;
	display: flex;
}

.splits, .markdown {
	height: 100%;
}

.gutter {
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('../img/split/vertical.png');
	cursor: ew-resize;
}

.gutter.gutter-vertical {
	background-image: url('../img/split/horizontal.png');
	cursor: ns-resize;
}

.markdown textarea {
	display: block;
	height: 100%;
	width: 100%;
	resize: none;
	border: 0;
	background-color: inherit;
	line-height: inherit;
}

.markdown textarea:focus {
	outline: none;
}

#renderedMarkdown {
	overflow: auto;
}


/* Button bar */

.buttonBar {
	padding: 1rem;
	background-color: #f1f1f1;
}

.buttonBar button {
	padding: 0.4rem 2rem;
	color: #fff;
	border: 0;
	float: right;
	font-size: 1rem;
}

.buttonBar button:active {
	transform: translateY(2px);
}

#deleteButton {
	float: left;
	font-size: 1rem;
	background-color: #FF2137;
}

#saveButton {
	float: right;
	background-color: #00B8FF;
}
