body {
	display: flex;
	height: 100%;
}

.notesHeader, .notesSidebar li, .markdown textarea, #renderedMarkdown {
	padding: 1rem;
}


/* Notes sidebar */

.notesSidebar {
	flex-shrink : 0;
	display: flex;
	flex-direction: column;
	width: 225px;
	background-color: #ececec;
}

.notesHeader {
	position: relative;
	font-weight: 300;
	margin: 0;
	background-color: #00B8FF;
	color: #fff;
}

.notesTitle {
	display: inline-block;
	margin: 0;
	font-weight: normal;
}

#addNewNote {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	line-height: 1rem;
	cursor: pointer;
}

#notes {
	margin: 0;
	padding: 0;
	overflow: auto;
}

#notes li {
	border: 0px solid #ccc;
	border-top-width: 0px;
	padding: 0.7rem 1rem;
	cursor: pointer;
	word-wrap: break-word;
	list-style-type: none;
	transition: border-left 0.1s, background-color 0.3s;
}

#notes li:last-child {
	border-bottom-width: 0px;
}

#notes li:hover, #notes li.current {
	border-left: 4px solid #00B8FF;
}

#notes li.current {
	background-color: #fff;
}

#notes li p {
	margin: 0;
	opacity: 0.6;
}


/* Main */

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


/* File edit input */

.splits {
	flex-grow: 1;
	display: flex;
}

.splits, .markdown {
	height: 100%;
}

.gutter {
	background-color: #ececec;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('../img/split/vertical.png');
	cursor: ew-resize;
}

.gutter.gutter-vertical {
	background-image: url('../img/split/horizontal.png');
	cursor: ns-resize;
}

.markdown textarea {
	display: block;
	height: 100%;
	width: 100%;
	resize: none;
	border: 0;
	background-color: inherit;
}

.markdown textarea:focus {
	outline: none;
}

#renderedMarkdown {
	overflow: auto;
}


/* Button bar */

.buttonBar {
	padding: 1rem;
	background-color: #ececec;
}

.buttonBar button {
	padding: 0.4rem 2rem;
	background-color: #00B8FF;
	color: #fff;
	border: 0;
	float: right;
	font-size: 1rem;
}

.buttonBar button:active {
	transform: translateY(2px);
}
