*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	color: #333;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.5;
}

button {
	cursor: pointer;
}

button:active, button:focus {
	outline: none;
}

input, textarea {
	font-family: inherit;
}

blockquote, pre {
	border-left: 5px solid #ccc;
	background-color: #f5f5f5;
	margin: 0.5rem 0;
}

blockquote {
	padding: 0.1rem 1rem;
}

pre {
	border-left-color: #B54EFF;
	border-left-color: #00b8ff;
	overflow-x: auto;
}

.hljs {
	padding: 1rem;
}
