:root {
	--font: 'work sans';
	--font-header: 'Montserrat';

	--color-blue: #2b8fe4;
	--color-grey: #f4f4f5;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	color: #333;
	font-family: var(--font);
	font-size: 14px;
	line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
header {
	font-family: var(--font-header);
}

a {
	color: var(--color-blue);
	font-weight: normal;
	text-decoration: none;
}

button {
	cursor: pointer;
}

button:active, button:focus {
	outline: none;
}

input, textarea {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

blockquote, pre {
	background-color: var(--color-grey);
	margin: 0.5rem 0;
}

blockquote {
	padding: 0 1.3rem;
	/* Don't collapse child padding when veritcal padding is 0 */
	overflow: auto;
}

pre {
	overflow-x: auto;
}

.hljs {
	padding: 1rem 1.3rem;
	font-family: var(--font-code);
}
